/* VARIABLES */
:root {
    /* Colors */
    --ms_primary-color: #1abc9c;
    --ms_secondary-color: #2c3e50;
    --ms_secondary-color-light: #3a546d;
}

/* COMMON */
html {
    font-size: 100%;
}

.ms_container-small {
    max-width: 1170px;
    width: 60%;
    margin: 0 auto;
}

.ms_bg-primary {
    background-color: var(--ms_primary-color);
    color: white;
}

.ms_stars-pack{
    justify-content: center;
    align-items: center;
    padding: .7rem 0;
}

.ms_stars-border-white{
    width: 7rem;
    border: 2px solid white;
    height: 4px;
    border-radius: 10px;
}

.ms_stars-border{
    width: 7rem;
    border: 2px solid var(--ms_secondary-color);
    height: 4px;
    border-radius: 10px;
}


.ms_star{
    padding: 0 1rem;
}



/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    color: white;
    background-color: var(--ms_secondary-color);
}

.ms_brand-wrapper {
    background-color: lightcoral;
}

.ms_menu-wrapper {
    background-color: blue;
}

/* MAIN */
.ms_section {
    padding: 2rem 0;
}

.ms_title-wrapper {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* jumbotron */
.ms_jumbotron {
    text-align: center;
}

.ms_jumbotron img{
    width: 200px;
}

.ms_title{
    font-size: 3rem;
}
/* Portfolio */
.ms_portfolio-item {
    /* background-color: blueviolet; */
    /* height: 200px; */
}

.ms_portfolio-item img{
    border: 1px solid white;
    border-radius: 10px;
}

/* ABOUT  */
.ms_button{
    padding: 1.5rem 0;
}

/* FORM  */
form .mb-3 .form-control{
    border-top: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

form .mb-3.ms_message .form-control{
    border-bottom: 0;
}


form .btn{
    background-color: var(--ms_primary-color);
    border-color: var(--ms_primary-color);
    color: #fff;
}

form .btn:hover{
    background-color: white;
    border-color: var(--ms_primary-color);
    color: var(--ms_primary-color);
    opacity: .6;
}


.ms_border-btn{
    border: .1px solid #ced4da;
    width: 100%;
    margin-top: 3rem;
}

/* FOOTER */

footer {
    color: white;
}

    /* FOOTER-TOP  */
.footer-top {
    background-color: var(--ms_secondary-color-light);
    padding: 3rem 0;
    text-align: center;
}

.ms_social{
    justify-content: center;
}

.mn_mg-items{
    margin: 0 1rem;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

p .ms_a{
    color: inherit;
    text-decoration: none;
    color: var(--ms_primary-color);
}

a:hover .ms_a{
   color: white;
}

/* FOOTER-BOTTOM  */
.footer-bottom {
    background-color: var(--ms_secondary-color);
    padding: 1rem 0;
    text-align: center;
}