/* VARIABLES */
:root {
    /* Colors */
    --ms_primary-color: #1abc9c;
    --ms_secondary-color: #2c3e50;
    --ms_secondary-color-light: #3a546d;
}

/* COMMON */
html {
    font-size: 100%;
}

.ms_container-small {
    max-width: 1170px;
    width: 60%;
    margin: 0 auto;
}

.ms_bg-primary {
    background-color: var(--ms_primary-color);
    color: white;
}

.ms_stars-pack{
    justify-content: center;
    align-items: center;
    padding: .7rem 0;
}

.ms_stars-border-white{
    width: 7rem;
    border: 2px solid white;
    height: 4px;
    border-radius: 10px;
}

.ms_stars-border{
    width: 7rem;
    border: 2px solid var(--ms_secondary-color);
    height: 4px;
    border-radius: 10px;
}

.ms_star{
    padding: 0 1rem;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    color: white;
    background-color: var(--ms_secondary-color);
}

.ms_brand-wrapper {

}

.ms_brand-wrapper h3{
    line-height: 80px;
}

.ms_menu-wrapper {
    /* background-color: blue; */
}

.menu-wrapper{
    text-align: end;
}

.menu{
    display: none;
}

.burgher{
    font-size: 1.5rem;
}

.menu li{
    display: inline-block;
    margin-left: 1rem;
}

.menu a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover{
    color: var(--ms_primary-color);
}

@media (min-width: 768px) { 
    .menu{
        display: inline-block;
    }

    .burgher{
        display: none;
    }
 }




/* MAIN */
.ms_section {
    padding: 2rem 0;
}

.ms_title-wrapper {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* jumbotron */
.ms_jumbotron {
    text-align: center;
}

.ms_jumbotron img{
    width: 200px;
}

.ms_title{
    font-size: 3rem;
}


/* Portfolio */
.ms_portfolio-item {
    position: relative;
}

.ms_portfolio-item img{
    border: 1px solid white;
    border-radius: 10px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 188, 156, .5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    display: none;
}

.ms_portfolio-item:hover .overlay{
    display: flex;
    cursor: pointer;
}




/* ABOUT  */
.ms_button{
    padding: 1.5rem 0;
}

/* FORM  */
form .mb-3 .form-control{
    border-top: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

form .mb-3.ms_message .form-control{
    border-bottom: 0;
}


form .btn{
    background-color: var(--ms_primary-color);
    border-color: var(--ms_primary-color);
    color: #fff;
}

form .btn:hover{
    background-color: white;
    border-color: var(--ms_primary-color);
    color: var(--ms_primary-color);
    opacity: .6;
}


.ms_border-btn{
    border: .1px solid #ced4da;
    width: 100%;
    margin-top: 3rem;
}

/* FOOTER */

footer {
    color: white;
}

    /* FOOTER-TOP  */
.footer-top {
    background-color: var(--ms_secondary-color-light);
    padding: 3rem 0;
    text-align: center;
}

.ms_social{
    justify-content: center;
}

.mn_mg-items{
    margin: 0 1rem;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

p .ms_a{
    padding: 0 .5rem ;
    color: inherit;
    text-decoration: none;
    color: var(--ms_primary-color);
}

p a:hover{
   color: white;
   background-color: var(--ms_primary-color);
   border: 1px solid var(--ms_primary-color);
   border-radius: 20px;
}

/* FOOTER-BOTTOM  */
.footer-bottom {
    background-color: var(--ms_secondary-color);
    padding: 2rem 0;
    text-align: center;
}